# Cached files.
**/__pycache__/**
**/*.class
**/*.tasty

# Configuration files.
.vscode/**
.metals/**

# Miscellaneous.
2022/day-8-tree-patterns.txt
2022/output.txt
2022/aoc_python/supermarine-spitfire-9-notes-only.py
